.portfolio-details .project-detail-hero h2 {
  font-size: 3.5rem;
}

@media (max-width: 991px) {
  .portfolio-details .project-detail-hero h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 575px) {
  .portfolio-details .project-detail-hero h2 {
    font-size: 3.5rem;
  }
}
